<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Dojo Show</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-5">{{dojo_name}} - Ninjas</h1>
        <table class="table table-striped border border-5">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
            </tr>
            {% for ninja in dojo_template %}
            <tr>
                <td>{{ninja['first']}}</td>
                <td>{{ninja['last']}}</td>
                <td>{{ninja['age']}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="http://127.0.0.1:5000/dojos" role="button" class="btn btn-outline-primary btn-lg">Home</a>
    </div>
</body>
</html>